.brand {
  height: 10vh;
  inset: 0;
  z-index: 12;
  border-bottom-right-radius: var(--brand-border-radius);
  border-bottom-left-radius: var(--brand-border-radius);
  @apply bg-primary border-b-2 flex w-screen sticky justify-evenly items-center;

  &_nav_links_mobile {
    display: none;
    width: 100%;
    a {
      @apply text-white;
      margin: 1rem 0;
      padding-left: 12px;
    }
  }
}

@media screen and (max-width: var("--screen-sm")) {
  .brand {
    justify-content: center;
    &_nav_links_mobile_show {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 63px;
      left: 0;
      margin: 0;
      width: 100%;
      padding: 2%;
      @apply bg-primary;
    }
  }
}
