.Sector {
  padding: 4% 2%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  &_Title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    @apply text-white;
  }
  &_Card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    &_Item {
      display: flex;
      &_Text {
        padding: 10px 0px;
        text-align: center;
      }
    }
  }
}
