.brand_logo {
  vertical-align: middle;
  img {
    height: 50px;
  }
}

@media screen and (max-width: var("--screen-sm")) {
  .brand_logo {
    vertical-align: middle;
    img {
      height: 40px;
    }
  }
}
