.btn_primary {
  background-color: var(--brand-primary-color, $brand-primary-color);
  color: $white;
  min-width: 100px;
  border-radius: $brand-border-radius;
  @apply py-4;
}

.btn_flat {
  border: none;
  outline: none;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}
.brand_with_loading {
  margin: 1rem;
  position: relative;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
  &.loading {
    p {
      visibility: hidden;
      opacity: 0;
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      width: 30px;
      height: 30px;
      border: 5px solid transparent;
      border-top-color: $white;
      border-radius: 50%;
      margin: auto;
      animation: button-loading 1s ease infinite;
    }
  }
}
@keyframes button-loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.brand_reset_button {
  width: 70%;
  margin: 1rem;
}
